@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
button,input, select{
  font-family: inherit;
}
.container{
  width: 65%;
  margin: 20px auto;
}
.head-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select-box select{
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-mainbox{
  width: 65%;
  margin: 50px auto;
  border: 1px solid #d6d9dc;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
}
.progress-box{
  text-align: center;
}
.head-text{
  text-align: center;
  margin-top: 10px;
}
.head-text h1 {
  font-size: 28px;
}
.head-text-p{
  text-align: center;
  margin: 20px;
}
.head-text-p p a{
  text-decoration: none;
}
.main-phbox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}
.box-selec{
  width: 45%;
  margin: 20px 0;
  padding: 0 10px;
}
.box-selec select{
  width: 100%;
}
.message-box{
  display: flex;
  align-items: center;
  padding: 5px;
  border-left: 4px solid #0376c9;
  background-color: #0376c919;
  margin: 10px 20px;
  border-radius: 5px;
}
.icon-text p{
  font-size: 15px;
  transform: translateY(-3px);
  margin-left: 4px;
}
.form-box-main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 20px 10px;

}
.input-form{
  display: flex;
  align-items: center;
}
.input-form input{
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.input-form input:focus{
  outline: none;
  border: 1px solid #0376c9;
}
.btnBox{
  margin: 30px 0;
  text-align: center;
}
.btnBox button{
   padding: 15px 30px;
   border-radius: 100px;
   border: none;
   background-color: #0376c9;
   color: #fff;
   cursor: pointer;
}
.btnBox button:disabled{
   background-color: #71c1fa9a;
}
.hide{
  display: none;
}
.icon2{
  display: none;
}
.tada-box{
  text-align: center;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.loader {
  margin: 60px auto;
  font-size: 5px;
  position: relative;
  text-indent: -9999em;
  border-top: .8em solid orange;
  border-right: .8em solid orange;
  border-bottom: .8em solid orange;
  border-left: .8em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 .7s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
 @keyframes animateContainer {
    0%{
        transform: translateX(10px);
    }

    100%{
        transform: translateX(-50px);
    }
}

.preloader{
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            background-color: #ffffffb2;
            z-index: 4000;
        }
        .preloader-box{
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-40%, -50%);
        }

@media screen and (max-width:939px){
  body{
    overflow-x: hidden;
  }
  .container{
    width: 90%;
    margin: 10px;
  }
  .main-phbox{
    flex-direction: column;
    align-items: unset;
    justify-content: unset;
    margin: 0 10px;
  }
  .main-phbox h4{
    text-align: center;
  }
  .form-mainbox{
    width: 100%;
    padding: 10px;
    margin: 20px 0;
  }
  .progress-box  img{
    width: 90%;
  }
  .icon2{
    display: block;
  }
  .message-box{
    margin: 0;
  }
  .icon-text p{
    font-size: 13px;
  }
  .icon1{
    display: none;
  }
  .icon2 img{
    width: 40px;
  }
  .head-text-p{
    font-size: 13px;
    margin: 20px 10px;
    text-align: unset;
  }
  .box-selec{
    width: 100%;
    padding: 0;
  }
  .select-box select{
    width: 100%;
  }
  .head-text h1 {
    font-size: 18px;
  }

  .form-box-main input{
    width: 70%;
    margin: 10px auto;
  }
  .form-box-main{
    display: block;
    text-align: center;
  }

}